<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<style>
.sidebar-logo-custom {
    height: 64px;
    padding-left: 24px;
    line-height: 64px;
    background: #1f1f1f;
}
.logo-text {
  font-size: 1em;
  text-align: inherit;
}

.content-style {
  background: #141414;
}
</style>
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo-custom" nz-row>
      <div nz-col nzFlex="auto">
        <a routerLink="/welcome">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" height="40em">
        </a>
      </div>
      <div nz-col nzFlex="auto" [style]="isCollapsed ? 'display: none' : 'display: block'">
        <h1 class="logo-text">Ant Design Of Angular</h1>
      </div>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Employee" nzIcon="user" >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/employee/create']">Create</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/employee/list']">List</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content class="content-style">
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
